:host {
  height: 100%;
  width: 100%;
}

button {
  background-color: var(--hover-header-nso);

  border-top: 2px solid var(--bar-nso);
  border-left: 2px solid var(--bar-nso);
  border-bottom: 2px solid var(--border-nso);
  border-right: 2px solid var(--border-nso);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 8px;
  gap: 6px;
  width: 100%;

  label {
    font-family: var(--alt-font);
    font-size: 22px;
    font-weight: 200;
    height: auto;
    padding: 0 12px 0 6px;
  }
}

.is-active {
  background-color: var(--button-pressed-nso);
  border-top: 2px solid var(--border-nso);
  border-left: 2px solid var(--border-nso);
  border-bottom: 2px solid var(--bar-nso);
  border-right: 2px solid var(--bar-nso);
}
