:host {
  position: absolute;
  bottom: 0;
  min-width: 100vw;
}

footer {
  display: flex;
  height: auto;
  padding: 4px 8px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  border-top: 2px solid var(--bar-nso);
  background-color: var(--hover-header-nso);

  aside {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    gap: 8px;

    align-self: stretch;
    align-items: stretch;

    app-button-bar-nso,
    app-clock-nso,
    app-calendar-nso {
      width: auto;
    }

    app-pipe-bar-nso {
      width: 12px;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      width: 100%;

      ul {
        list-style-type: none;
      }
    }
  }

  #left {
    width: 40%;

    app-pipe-bar-nso {
      width: 12px;
      min-width: 12px;
    }
  }
}
