:host {
  display: flex;
  flex-direction: column;
}

span {
  display: block;
  flex: 1;
  width: 100%;
  box-sizing: border-box;

  border-top: 2px solid var(--bar-nso);
  border-left: 2px solid var(--bar-nso);
  border-bottom: 2px solid var(--border-nso);
  border-right: 2px solid var(--border-nso);
}

.is-active {
  background-color: var(--button-pressed-nso);
  border-top: 2px solid var(--border-nso);
  border-left: 2px solid var(--border-nso);
  border-bottom: 2px solid var(--bar-nso);
  border-right: 2px solid var(--bar-nso);
}
